[Owners]
* @kadlecsik1zc03
docs/CODEOWNERS @kadlecsik1zc03

[Helm]
/* @kadlecsik1zc03 @major1balaz525 @vigh1zoltan315 @nemeth3norb202
/templates/ @kadlecsik1zc03 @major1balaz525 @vigh1zoltan315 @nemeth3norb202

[Test/Go]
/chart-test/ @helm

[Doc]
*.md @helm

[CI & Release]
.gitlab-ci.yaml @kadlecsik1zc03 @major1balaz525 @vigh1zoltan315 @nemeth3norb202
.releaserc.yml @kadlecsik1zc03 @major1balaz525 @vigh1zoltan315 @nemeth3norb202